<mat-card class="container-categories">
  <div class="left">
    <mat-card class="form">
      <mat-card-title class="title"><strong>{{ titulo }}</strong></mat-card-title>
      <mat-card-subtitle class="subtitle">Nuevos temarios de retos</mat-card-subtitle>
      <p class="archivo-message" *ngIf="!isFileSelected">
        <i class="fas fa-file-upload"></i> Ningún archivo seleccionado
      </p>
      <p class="archivo-message selected" *ngIf="isFileSelected">
        <i class="fas fa-check-circle"></i> Archivo seleccionado
      </p>
      <form [formGroup]="naterialform" style="width: 100%;">
        <input type="hidden" formControlName="id">
        <div class="div-input2">
          <mat-form-field>
            <mat-label>Nombre del material</mat-label>
            <input matInput formControlName="nombre">
            <mat-error *ngIf="isValidField('nombre')">
              {{ getFieldError('nombre') }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="div-input2">
          <mat-form-field>
            <mat-label>Descripción del material</mat-label>
            <textarea matInput formControlName="descripcion"></textarea>
            <mat-error *ngIf="isValidField('descripcion')">
              {{ getFieldError('descripcion') }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="div-input-row">
          <div class="div-input2">
            <mat-form-field>
              <mat-label>Tipo de archivo</mat-label>
              <mat-select formControlName="tipoMaterial">
                <mat-option *ngFor="let item of tipoArchivo" [value]="item">{{ item }}</mat-option>
              </mat-select>
              <mat-error *ngIf="isValidField('tipoMaterial')">
                {{ getFieldError('tipoMaterial') }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="div-input2">
          <mat-form-field>
            <mat-label>Url</mat-label>
            <textarea matInput formControlName="url" (change)="mostrarvistaprevia()"></textarea>
            <mat-error *ngIf="isValidField('url')">
              {{ getFieldError('url') }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="actions">
          <div class="buttons">
            <button mat-stroked-button color="warn" (click)="redirect()">
              <i class="fas fa-times"></i> Cancelar
            </button>&nbsp;&nbsp;
            <button mat-flat-button color="primary" [disabled]="naterialform.invalid" (click)="saveMaterial()">
              <i class="fas fa-check"></i> {{ nombreBoton }}
            </button>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
  <div class="right">
    <mat-card>
      <iframe [src]="urlSafe" width="100%" height="550px" frameborder="0" allowfullscreen></iframe>
    </mat-card>
  </div>
</mat-card>
