@import "../../shared-styles/shared-styles.less";
.container-news {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 46px 50px;
  gap: 20px;
  min-height: 400px;
  .title,
  .subtitle {
    color: @color-text-primary;
  }

  .body-news {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 35em), 1fr));
    margin: 20px 0;
    gap: 70px;
    width: 100%;
    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: @color-text-primary;
      min-height: 300px;
      position: relative;
      .image{
        min-height: 150px;
        img{
          width: 100%;
        }
      }
      .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 20px 30px;
        width: 90%;
        min-height: 150px;
.title-news, .description-news{
  width: 100%;
}
.description-news{
  height: 100%;
}

      }
    }
  }
}
.card-actions
  {
    display: flex;
    gap: 10px;
    width: 90%;
    justify-content: flex-end;
    position: absolute;
    margin-top: 10px;
      img{
        width:30px;
        cursor: pointer;
      }
  }
.new-card{
  min-width: 300px;
  background: white;
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 100px;
    height: 100px;
    cursor: pointer;
  }
}
