<div class="container-categories">
  <div class="left">
    <div class="form">
      <div class="title"><strong>{{ titulo }} - {{ nombreCategoria }}</strong></div>
      <div class="subtitle">Nuevos retos para los conocimientos de los participantes</div>
      <div class="body-form" [formGroup]="problemaForm">
        <div class="div-input2">
          <input type="hidden" formControlName="id">
          <mat-form-field appearance="outline">
            <mat-label>Nombre del problema</mat-label>
            <input matInput formControlName="nombre">
            <mat-error *ngIf="isValidField('nombre')">
              {{ getFieldError('nombre') }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="div-input2">
          <mat-form-field appearance="outline">
            <mat-label>Descripción</mat-label>
            <textarea matInput formControlName="descripcion"></textarea>
            <mat-error *ngIf="isValidField('descripcion')">
              {{ getFieldError('descripcion') }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="div-input-row">
          <div class="div-input2">
            <mat-form-field appearance="outline">
              <mat-label>Entradas</mat-label>
              <input matInput formControlName="entradas">
              <mat-error *ngIf="isValidField('entradas')">
                {{ getFieldError('entradas') }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="div-input2">
            <mat-form-field appearance="outline">
              <mat-label>Salidas</mat-label>
              <input matInput formControlName="salidas">
              <mat-error *ngIf="isValidField('salidas')">
                {{ getFieldError('salidas') }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="div-input2">
          <mat-form-field appearance="outline">
            <mat-label>Ejemplos entradas</mat-label>
            <textarea matInput formControlName="ejemploEntradas"></textarea>
            <mat-error *ngIf="isValidField('ejemploEntradas')">
              {{ getFieldError('ejemploEntradas') }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="div-input2">
          <mat-form-field appearance="outline">
            <mat-label>Ejemplos salidas</mat-label>
            <textarea matInput formControlName="ejemploSalidas"></textarea>
            <mat-error *ngIf="isValidField('ejemploSalidas')">
              {{ getFieldError('ejemploSalidas') }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="div-input2">
          <mat-form-field appearance="outline">
            <mat-label>Dificultad</mat-label>
            <mat-select formControlName="dificultad">
              <mat-option value="Fácil">Fácil</mat-option>
              <mat-option value="Intermedio">Intermedio</mat-option>
              <mat-option value="Difícil">Difícil</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="actions">
          <div class="buttons">
            <button mat-raised-button color="warn" (click)="retornar()">Cancelar</button>
            <button mat-raised-button color="primary" [disabled]="problemaForm.invalid"
              (click)="saveProblem()">{{ nombreboton }}</button>
          </div>
        </div>
        <br />
      </div>
    </div>
  </div>
  <div class="right"><img src="assets/images/problems/icono_busqueda.png" alt="imagen no disponible"></div>
</div>
