<div class="container-password">
  <div class="left">
    <form class="form-password" [formGroup]="form">
      <div class="title text-secondary">Nueva Contraseña</div>
      <hr class="separator">
      <div class="div-input">
        <div class="txt"> Contraseña actual</div>
        <input formControlName="contrasenaActual" class="input" type="password" placeholder="Actual" autocomplete= "current-password">
      </div>
      <div class="div-input">
        <div class="txt"> Nueva contraseña</div>
        <input formControlName="newContrasena" class="input" type="password" placeholder="Contraseña" autocomplete= "new-password">
      </div>
      <div class="div-input">
        <div class="txt"> Repetir contraseña</div>
        <input formControlName="newContrasena2" class="input" type="password" placeholder="Repetir contraseña" autocomplete="new-password">
        <div *ngIf="form.hasError('mismatch', 'newContrasena2')">
          Las contraseñas no coinciden.
        </div>
      </div>

    <div class="actions">
      <button class="button" (click)="changePassword()" style="background-color: green; border: 2px green;">Aceptar</button>&nbsp;
      <button class="button" (click)="cancelar()">Cancelar</button> <!-- Botón Cancelar -->
    </div>

    </form>

  </div>
  <div class="right">
    <img src="assets/images/profile/icono-security.png" alt="imagen no disponible">
  </div>
</div>
