<div class="container-footer">
  <div class="info-footer">
    <div class="info-aceru">
      <div class="icon-aceru"></div>
      <div class="description-aceru">ACERU fue creado para el proyecto de grado "ACERU DESARROLLO DE UN MARCO DE TRABAJO
        PARA EL ENTRETENIMIENTO DE LOS ESTUDIANTES DE INGENIERÍA DE SISTEMAS DE LA UNIVERSIDAD DE NARIÑO EN PROGRAMACIÓN
        COMPETITIVA"</div>
      <div class="project-managers">
       ---------------------------------------------------------------------------------------------------------------------------------
        <div class="member"> Yuli Esmeralda Sinza Diaz</div>
        <div class="member">Jennyfer Estefania Oliva Caipe</div>
      </div>
    </div>
    <div class="resources">
      <div class="title-resources"><b>Recursos</b></div>
      <div class="item-resources">Resuelva problemas</div>
      <div class="item-resources"> Aprende a programar</div>
      <div class="item-resources">Participa en mini-competencias</div>
    </div>
    <div class="try-it-now">
      <div class="title-try-it-now"><b>¡Práctica ahora!</b></div>
      <div class="item-try-it-now">Añade todo tu conocimientos a medida que crezcan tus necesidades.</div>

    </div>
  </div>
  <hr class="separator">
  <div class="copyright">©2023 ACERU - UDENAR </div>
</div>
