<div class="container-grid">
    <div class="card text-tertiary" *ngFor="let item of data" (click)="handleCardClick(item)">
      <div class="card-actions hiddenParticipante" *ngIf="tokenService.getAuthorities().includes('ROLE_ADMIN')">
        <ng-container *ngFor="let action of actions">
          <img
            [src]="action.value"
            *ngIf="!(action.event === 'delete' && item.estado === 'Inactivo')"
            (click)="handleAction($event, action, item)"
          >
        </ng-container>
      </div>
      <div class="card-image">
        <img [src]="item.imagenurl" alt="imagen no disponible">
      </div>
      <div class="card-title">{{item.nombre}}</div>
    </div>
  </div>