<div class="container-home">
  <div class="main-section">
   <app-main-section></app-main-section>
  </div>
  <div class="section-list-btn-resources hiddenAdministrador"><app-list-btn-resources></app-list-btn-resources></div>
  <div class="section-resources hiddenAdministrador" id="recursos" > <app-resources></app-resources></div>
  <div class="section-news" [style]="{'background':backgroundRol()}"><app-news></app-news></div>
  <div class="section-about" id="about"><app-about></app-about></div>
</div>
